ion-card-content{
    ion-avatar{
        margin: 16px 0;
        img{
            width: 90px;
            height: 90px;
        }
    }

    h1{
        color: black;
    }

    .bottom{
        margin: 8px 0;
        border-top:  1px solid #cecece;

        p{
            margin: 8px 0;
            border-bottom: 1px solid #cecece;
            padding: 8px 0;
        }

        span{
            margin: 8px 0;
            padding: 8px 0;
            font-weight: bold;
        }
    }
}